.timer {
    min-width: 360px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);

        &_buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
        }

        &_output {
            padding-top: 20px;
        }
    }

    &__btn {
        border: none;
        width: 150px;
        height: 48px;
        border-radius: 5px;
        background: #7ac773;
        color: white;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            background: #98da92;
        }

        &:nth-child(1){
            background: #5a77b0;
            &:hover {
                background: #738fc5;
            }
        }
        &:nth-child(2){
            background: #403daf;
            &:hover {
                background: #4c49af;
            }
        }
        &:nth-child(3){
            background: #181676;
            &:hover {
                background: #33319e;
            }
        }

        @media(min-width: 420px){
            width: 168px;
        }
    }
}